<main class="mat-app-background">
    <mat-card>
        <mat-tab-group>
            <mat-tab label="Partidos">
                <app-filterable-checklist [items]="parties"></app-filterable-checklist>
            </mat-tab>
            <mat-tab label="Deputados">
                <app-congresspeople-checklist [congresspeopleByParty]="parties"></app-congresspeople-checklist>
            </mat-tab>
            <mat-tab label="Tópicos">
                TODO :D
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</main>