<mat-accordion>
  <mat-expansion-panel *ngFor="let party of congresspeopleByParty">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ party.name }} ({{ party.acronym }})</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list>
      <mat-list-option
        color="accent"
        *ngFor="let member of party.members"
        [selected]="!!view.isCongresspersonMonitored[member.id]"
        (click)="handleOptionClick(member)"
      >
        {{ member.name }} [{{ member.state }}]
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
