<form class="form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Palavra-chave</mat-label>
    <input
      matInput
      placeholder="Ex: Saúde"
      [(ngModel)]="word"
      [disabled]="loading"
      name="word"
    />
  </mat-form-field>
  <mat-checkbox
    class="checkbox"
    [checked]="isRegex"
    (change)="isRegex = !isRegex"
    [disabled]="loading"
    >Regex</mat-checkbox
  >
</form>
<button
  mat-raised-button
  color="primary"
  class="btn"
  (click)="handleClick()"
  [disabled]="loading || word == ''"
>
  Adicionar palavra-chave
</button>
