<div class="body-wrapper h-screen max-h-screen overflow-hidden flex flex-col flex-nowrap">
  <app-header></app-header>
  
  <main class="monitor-ent-votings grow flex flex-col flex-nowrap overflow-hidden">
    <mat-drawer-container class="example-container grow">
      
      <!-- Sidebar -->
      <mat-drawer mode="side" opened class="w-1/3 grow flex flex-col flex-nowrap">
  
        <div class="info-section py-6 w-full grow flex flex-row justify-center">
          <div class="row px-6 w-full md:max-w-screen-xl gap-6 md:8 grow flex justify-center flex-col">
            
            <mat-tab-group >
              <mat-tab label="Partidos">
                <app-parties-checklist
                  [items]="availablePartiesView.availableParties"
                ></app-parties-checklist>
              </mat-tab>
              
              <mat-tab label="Deputados">
                <app-congresspeople-checklist
                  [congresspeopleByParty]="availablePartiesView.availableParties"
                ></app-congresspeople-checklist>
              </mat-tab>

              <mat-tab label="Tópicos">
                <app-monitored-keywords></app-monitored-keywords>
              </mat-tab>
              
              <mat-tab label="Datas">
                <app-monitored-dates></app-monitored-dates>
              </mat-tab>
            </mat-tab-group>
  
            <button
              mat-raised-button
              color="accent"
              class="monitor-button"
              (click)="handleMonitorButton()">
              Monitorar
            </button>
          </div>
        </div>
  
      </mat-drawer>
      
      <!-- Right Content -->
      <mat-drawer-content class="overflow-y-scroll grow flex flex-col flex-nowrap" style="display: flex;">
        
        <div class="info-section py-6 w-full grow flex flex-col justify-center">
          <div class="row px-6 w-full md:max-w-screen-xl gap-6 md:8 grow flex justify-center flex-col">
            
            <div class="title-section">
              <p class="text-left font-semibold font-serif text-3xl md:text-6xl">Monitor de Votos por Tematica</p>
              <p class="text-left text-lg md:text-1xl">Dado um intervalo de tempo, veja quais temas foram mais afetados pelas votações das entidades selecionadas!</p>
            </div>
            
            <!-- Empty or no result to display -->
            <div class="title-section grow py-6"
              *ngIf="backendQueryModel.votingsFromMonitoredSubjects.value.length == 0">
              <p class="text-left font-semibold text-3xl">Nenhum resultado para ser exibido.</p>
            </div>
  
            <!-- Loading Results -->
            <!-- <div class="flex flex-row justify-center py-6"
              *ngIf="this.isLoading && backendQueryModel.votingsFromMonitoredSubjects.value.length == 0">
              <mat-spinner></mat-spinner>
            </div> -->
            
            <!-- Results -->
            <div class="grow flex flex-col flex-nowrap"
                *ngIf="backendQueryModel.votingsFromMonitoredSubjects.value.length  > 0">
                <app-tab-clouds
                  class="grow flex flex-col flex-nowrap"
                  [votingsFromSubjects]='backendQueryModel.votingsFromMonitoredSubjects.value'
                  [fixedIncrementValue]="20"
                  [baseTextSize]="60"
                ></app-tab-clouds>
            </div>
            
          </div>
        </div>
  
      </mat-drawer-content>
  
    </mat-drawer-container>
  </main>
  
  <app-footer></app-footer>
  </div>