<div class="bg-gray-300 rounded-md shadow-md p-4 h-full w-full">
  <p class="font-semibold text-gray-700 text-xl">{{ title }}</p>
  <div class="mt-2">
    <canvas
      baseChart
      [datasets]="filteredDataset"
      [labels]="labels"
      [options]="chartOptions"
      [legend]="legend"
      chartType="bar"
    >
    </canvas>
    <mat-slide-toggle
      class="font-regular text-gray-700 mr-4"
      color="primary"
      [checked]="isCheckedParties"
      (change)="checkedPartiesChanged($event)">
      Partidos
    </mat-slide-toggle>
    <mat-slide-toggle
      class="font-regular text-gray-700"
      color="primary"
      [checked]="isCheckedCongresspeople"
      (change)="checkedCongresspeopleChanged($event)">
      Deputados
    </mat-slide-toggle>
  </div>
</div>
