@{
    ViewData["Title"] = "Votações";
}

@model MonitorPoliticoMAC413.Views.Votacoes.Index
<div class="text-center">
    <h1 class="display-4">PAU NO KON</h1>
    <div>Votações</div>
    <div>@(Model.foobar)</div>
</div>
