<mat-accordion>
  <mat-expansion-panel *ngFor="let party of congresspeopleByParty">
    
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="px-2">{{ party.name }} ({{ party.acronym }})</span>
        <span *ngIf="countSelected(party) > 0" class="text-green-400 font-bold">{{ countSelected(party) }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list>
      <mat-list-option
        color="accent"
        *ngFor="let member of party.members"
        [selected]="!!view.isCongresspersonMonitored[member.id]"
        (click)="handleOptionClick(member)"
      >
        {{ member.name }} [{{ member.state }}]
      </mat-list-option>
    </mat-selection-list>
    
  </mat-expansion-panel>
</mat-accordion>
