<header>
  <mat-toolbar class="mat-elevation-z6 z-50 flex" color="primary" style="position: sticky; top: 0;">
    <button routerLink="/" class="text-left font-semibold font-serif text-2xl md:text-4xl">
      <img src="/assets/images/logo_white.png" class="h-16">
    </button>
    <span class="spacer grow"></span>
    <button mat-button routerLink="/monitores" class="text-lg font-semibold py-1 px-4">Monitores</button>
    <span>
      <a mat-button href="https://gitlab.com/Vernalhav/politicaltracker" target="_blank" class="py-1 px-4">
        <fa-icon class="" [icon]="faGithub" size="lg"> </fa-icon>
      </a>
    </span>
  </mat-toolbar>
</header>
