<header>
  <mat-toolbar class="mat-elevation-z6 z-50" color="primary" style="position: sticky; top: 0;">
    <button routerLink="/" class="text-left font-semibold font-serif text-2xl md:text-4xl">Monitor Políti-kon</button>
    <span class="spacer grow"></span>
    <button mat-button routerLink="/monitores" class="text-lg font-semibold py-1 px-4">Monitores</button>
    <a mat-button href="https://gitlab.com/Vernalhav/politicaltracker" target="_blank" class="text-lg py-1 px-4">Github</a>
  </mat-toolbar>
</header>
