<div class="tab-clouds p-6">

    <h1>Assuntos votados pelas entidades monitoradas</h1>

    <p>A seguir demonstramos por meio de uma nuvem de palavras a quantidade total de votos Sim e Não recebida por cada assunto monitorado.</p>

    <div class="grid grid-cols-2 gap-2">
        <div #container>
            <app-word-cloud *ngIf="container.offsetWidth"
                [fixedMaxValue]="_fixedMaxValue"
                [data]='_yesSubjectsVotes'
                [width]='container.offsetWidth'
                [height]='container.offsetWidth/2'
                
            ></app-word-cloud>
        </div>
        
        <div #container>
            <app-word-cloud *ngIf="container.offsetWidth"
                [fixedMaxValue]="_fixedMaxValue"
                [data]='_noSubjectsVotes'
                [width]='container.offsetWidth'
                [height]='container.offsetWidth/2'
            ></app-word-cloud>
            <!-- Mockup data: [{ text:"Administração Pública",value:30 }, { text:"Saúde e Cidadania :)",value:50 }] -->
        </div>
    </div>
</div>
