<div class="grow flex flex-col flex-nowrap">
    <div class="grow" #containerYes>
        <app-word-cloud
            [fixedIncrementValue]="fixedIncrementValue"
            [baseTextSize]="baseTextSize"    
            [fixedMaxValue]="_fixedMaxValue"
            [data]='_yesSubjectsVotes'
            [width]='containerYes.offsetWidth'
            [height]='containerYes.offsetHeight'
        ></app-word-cloud>
    </div>
    
    <div class="grow" #containerNo>
        <app-word-cloud *ngIf="containerNo.offsetWidth"
            [fixedIncrementValue]="fixedIncrementValue"
            [baseTextSize]="baseTextSize"
            [fixedMaxValue]="_fixedMaxValue"
            [data]='_noSubjectsVotes'
            [width]='containerNo.offsetWidth'
            [height]='containerNo.offsetHeight'
        ></app-word-cloud>
        <!-- Mockup data: [{ text:"Administração Pública",value:30 }, { text:"Saúde e Cidadania :)",value:50 }] -->
    </div>
</div>

