<div
  [class]="
    'py-2 text-black text-xl font-bold ' +
    (!!details?.aprovacao ? 'text-green-600' : '')
  "
>
  {{
    (details && (details?.aprovacao ? 'Aprovado' : 'Não aprovado')) ||
      'Carregando detalhes...'
  }}
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Proposições afetadas</mat-panel-title>
  </mat-expansion-panel-header>
  <div *ngIf="!!details">
    <div *ngFor="let prop of details.proposicoesAfetadas; let i = index">
      <h3>{{ prop.siglaTipo }} {{ prop.numero }}/{{ prop.ano }}</h3>
      <p>{{ prop.ementa }}</p>
      <mat-divider
        *ngIf="i !== details.proposicoesAfetadas.length - 1"
      ></mat-divider>
    </div>
  </div>
</mat-expansion-panel>
