<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700" rel="stylesheet">
	<style type="text/css">
		body {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			background: #1b1b1b;
			color: #fff;
			font-family: 'Montserrat', 'Tahoma';
		}
		h4 {
			font-size: 18px;
			font-weight: 400;
		}
	</style>
</head>

<body>
    <img src="https://nestjs.com/img/logo-small.svg" width="120">
  <h4>
    {{ message }}
  </h4>
</body>

</html>